In [1]:
import pandas as pd
import os

In [2]:
schools_csv = "Resources/schools_complete.csv"
students_csv = "Resources/students_complete.csv"

In [3]:
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

In [4]:
schools_df

    School ID            school_name         type  size   budget
0           0      Huang High School   Government  2917  1910635
1           1   Figueroa High School   Government  2949  1884411
2           2    Shelton High School  Independent  1761  1056600
3           3  Hernandez High School   Government  4635  3022020
4           4    Griffin High School  Independent  1468   917500
5           5     Wilson High School  Independent  2283  1319574
6           6    Cabrera High School  Independent  1858  1081356
7           7     Bailey High School   Government  4976  3124928
8           8     Holden High School  Independent   427   248087
9           9       Pena High School  Independent   962   585858
10         10     Wright High School  Independent  1800  1049400
11         11  Rodriguez High School   Government  3999  2547363
12         12    Johnson High School   Government  4761  3094650
13         13       Ford High School   Government  2739  1763916
14         14     Thomas High School  Independent  1635  1043130

In [5]:
students_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
merge_df = pd.merge(schools_df, students_df, on="school_name")
merge_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,year,reading_score,maths_score
0,0,Huang High School,Government,2917,1910635,0,Paul Bradley,M,9,96,94
1,0,Huang High School,Government,2917,1910635,1,Victor Smith,M,12,90,43
2,0,Huang High School,Government,2917,1910635,2,Kevin Rodriguez,M,12,41,76
3,0,Huang High School,Government,2917,1910635,3,Richard Scott,M,12,89,86
4,0,Huang High School,Government,2917,1910635,4,Bonnie Ray,F,9,87,69
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Independent,1635,1043130,39165,Donna Howard,F,12,51,48
39166,14,Thomas High School,Independent,1635,1043130,39166,Dawn Bell,F,10,81,89
39167,14,Thomas High School,Independent,1635,1043130,39167,Rebecca Tanner,F,9,99,99
39168,14,Thomas High School,Independent,1635,1043130,39168,Desiree Kidd,F,10,72,77
39169,14,Thomas High School,Independent,1635,1043130,39169,Carolyn Jackson,F,11,47,62

In [7]:
#calculate the total number of schools
schools_count = len(merge_df["school_name"].unique())
schools_count

15

In [8]:
#calculate the total number of students
student_count = len(merge_df["Student ID"].unique())
student_count

39170

In [9]:
#calculate the total budget
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [10]:
#calculate the average maths score
avg_maths = merge_df["maths_score"].mean()
avg_maths

70.33819249425581

In [11]:
#calculate the average reading score
avg_read = merge_df["reading_score"].mean()
avg_read

69.98013786060761

In [12]:
#Calculate the percentage of students with a passing maths score (50 or greater)
math_pass = merge_df.loc[merge_df["maths_score"] >= 50]
math_pass_number = math_pass["Student ID"].count()

math_pass_perc = (math_pass_number / student_count) * 100
math_pass_perc

86.07863160582077

In [13]:
#Calculate the percentage of students with a passing reading score (50 or greater)
read_pass = merge_df.loc[merge_df["reading_score"] >= 50]
read_pass_number = read_pass["Student ID"].count()

read_pass_perc = (read_pass_number / student_count) * 100
read_pass_perc

84.42685728874139

In [14]:
#Calculate the percentage of overall number of students with a total passing score (50 or greater)
overall_pass = students_df[(students_df['maths_score'] >= 50) & (students_df['reading_score'] >= 50)]['Student ID'].count()/student_count*100
overall_pass

72.80827163645647

In [15]:
#summary dataframe for school district
dist_summary = pd.DataFrame({
    "Total Schools": schools_count,
    "Total Students": f"{student_count:,.0f}",
    "Total Budget": f"${total_budget:,.2f}",
    "Avg. Maths Score": f"{avg_maths:,.2f}",
    "Avg. Reading Score": f"{avg_read:,.2f}",
    "% Maths Pass": f"{math_pass_perc:,.2f}",
    "% Reading Pass": f"{read_pass_perc:,.2f}",
    "% Overall Pass": f"{overall_pass:,.2f}"
}, index=[0])

dist_summary

,Total Schools,Total Students,Total Budget,Avg. Maths Score,Avg. Reading Score,% Maths Pass,% Reading Pass,% Overall Pass
0,15,"39,170","$24,649,428.00",70.34,69.98,86.08,84.43,72.81

## School Summary

  * Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [16]:
#group schools names
school_name_df = merge_df.set_index('school_name').groupby('school_name')

In [17]:
#school type
school_type = schools_df.set_index('school_name')['type']

In [18]:
#number of students
total_student = school_name_df['Student ID'].count()

In [19]:
#school budget
school_budget = schools_df.set_index('school_name')['budget']

In [20]:
#school budget per student
budget_per_student = (schools_df.set_index('school_name')['budget']/schools_df.set_index('school_name')['size'])

In [21]:
#average maths score
avg_math_score = school_name_df['maths_score'].mean()

In [22]:
#average reading score
avg_read_score = school_name_df['reading_score'].mean()

In [23]:
#passing maths percentage
pass_math_percent = merge_df[merge_df['maths_score'] >= 50].groupby('school_name')['Student ID'].count()/total_student*100
pass_math_percent

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
Name: Student ID, dtype: float64

In [24]:
#passing reading percentage
pass_read_percent = merge_df[merge_df['reading_score'] >= 50].groupby('school_name')['Student ID'].count()/total_student*100
pass_read_percent

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
Name: Student ID, dtype: float64

In [25]:
#overall passing percentage
overall_pass_percent = merge_df[(merge_df['maths_score'] >= 50) & (merge_df['reading_score'] >= 50)].groupby('school_name')['Student ID'].count()/total_student*100
overall_pass_percent

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
Name: Student ID, dtype: float64

In [50]:
#create dataframe
school_summary_df = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_student.map("{:,}".format),
    "Total Budget": school_budget.map("${:,.2f}".format),
    "Budget Per Student": budget_per_student.map("${}".format),
    "Avg. Maths Score": avg_math_score.map("{:.2f}".format),
    "Avg. Reading Score": avg_read_score.map("{:.2f}".format),
    "% Passing Math": pass_math_percent.map("{:.2f}".format),
    "% Passing Reading": pass_read_percent.map("{:.2f}".format),
    "% Overall Passing": overall_pass_percent.map("{:.2f}".format)
})
school_summary_df.index.name = "School Name"

school_summary_df

,School Type,Total Students,Total Budget,Budget Per Student,Avg. Maths Score,Avg. Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,Government,"4,976","$3,124,928.00",$628.0,72.35,71.01,91.64,87.38,80.08
Cabrera High School,Independent,"1,858","$1,081,356.00",$582.0,71.66,71.36,90.85,89.07,80.79
Figueroa High School,Government,"2,949","$1,884,411.00",$639.0,68.70,69.08,81.65,82.81,67.65
Ford High School,Government,"2,739","$1,763,916.00",$644.0,69.09,69.57,82.44,82.22,67.47
Griffin High School,Independent,"1,468","$917,500.00",$625.0,71.79,71.25,91.21,88.49,81.34
Hernandez High School,Government,"4,635","$3,022,020.00",$652.0,68.87,69.19,80.95,81.88,66.36
Holden High School,Independent,427,"$248,087.00",$581.0,72.58,71.66,89.93,88.52,78.92
Huang High School,Government,"2,917","$1,910,635.00",$655.0,68.94,68.91,81.69,81.45,66.71
Johnson High School,Government,"4,761","$3,094,650.00",$650.0,68.84,69.04,82.06,81.98,67.19
Pena High School,Independent,962,"$585,858.00",$609.0,72.09,71.61,91.68,86.59,79.21
Rodriguez High School,Government,"3,999","$2,547,363.00",$637.0,72.05,70.94,90.80,87.40,79.42
Shelton High School,Independent,"1,761","$1,056,600.00",$600.0,72.03,70.26,91.54,86.71,78.88
Thomas High School,Independent,"1,635","$1,043,130.00",$638.0,69.58,69.77,83.85,82.63,69.48
Wilson High School,Independent,"2,283","$1,319,574.00",$578.0,69.17,68.88,82.79,81.30,67.46
Wright High School,Independent,"1,800","$1,049,400.00",$583.0,72.05,70.97,91.78,86.67,79.72


### Highest-Performing Schools (by % Overall Passing)

Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. Include the following metrics:

* School name
* School type
* Total students
* Total school budget
* Per student budget
* Average maths score
* Average reading score
* % passing maths (the percentage of students who passed maths)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed maths AND reading)

In [51]:
top_schools = school_summary_df.sort_values("% Overall Passing", ascending=False)
top_schools.index.name = "School Name"
top_schools.head()

,School Type,Total Students,Total Budget,Budget Per Student,Avg. Maths Score,Avg. Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Griffin High School,Independent,"1,468","$917,500.00",$625.0,71.79,71.25,91.21,88.49,81.34
Cabrera High School,Independent,"1,858","$1,081,356.00",$582.0,71.66,71.36,90.85,89.07,80.79
Bailey High School,Government,"4,976","$3,124,928.00",$628.0,72.35,71.01,91.64,87.38,80.08
Wright High School,Independent,"1,800","$1,049,400.00",$583.0,72.05,70.97,91.78,86.67,79.72
Rodriguez High School,Government,"3,999","$2,547,363.00",$637.0,72.05,70.94,90.80,87.40,79.42

### Lowest-Performing Schools (by % Overall Passing)
Create a DataFrame that highlights the bottom-5 performing schools based on % Overall Passing. Include the following metrics:

School name

School type

Total students

Total school budget

Per student budget

Average maths score

Average reading score

% passing maths (the percentage of students who passed maths)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed maths AND reading)

In [52]:
bottom_schools = school_summary_df.sort_values("% Overall Passing", ascending=True)
bottom_schools.index.name = "School Name"
bottom_schools.head()

,School Type,Total Students,Total Budget,Budget Per Student,Avg. Maths Score,Avg. Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Hernandez High School,Government,"4,635","$3,022,020.00",$652.0,68.87,69.19,80.95,81.88,66.36
Huang High School,Government,"2,917","$1,910,635.00",$655.0,68.94,68.91,81.69,81.45,66.71
Johnson High School,Government,"4,761","$3,094,650.00",$650.0,68.84,69.04,82.06,81.98,67.19
Wilson High School,Independent,"2,283","$1,319,574.00",$578.0,69.17,68.88,82.79,81.30,67.46
Ford High School,Government,"2,739","$1,763,916.00",$644.0,69.09,69.57,82.44,82.22,67.47

### Maths Scores by Year

Create a DataFrame that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

In [56]:
school_summary_df.dtypes

School Type           object
Total Students        object
Total Budget          object
Budget Per Student    object
Avg. Maths Score      object
Avg. Reading Score    object
% Passing Math        object
% Passing Reading     object
% Overall Passing     object
dtype: object

In [54]:
grade9_math = merge_df.loc[merge_df["year"] == "9"].groupby("school_name")["maths_score"].mean()
grade10_math = merge_df.loc[merge_df["year"] == "10"].groupby("school_name")["maths_score"].mean()
grade11_math = merge_df.loc[merge_df["year"] == "11"].groupby("school_name")["maths_score"].mean()
grade12_math = merge_df.loc[merge_df["year"] == "12"].groupby("school_name")["maths_score"].mean()

mathsByYear_df = pd.DataFrame({
    "Yr 9": grade9_math,
    "Yr 10": grade10_math,
    "Yr 11": grade11_math,
    "Yr 12": grade12_math
})

mathsByYear_df = mathsByYear_df[['Yr 9', 'Yr 10', 'Yr 11', 'Yr 12']]
mathsByYear_df.index.name = "School Name"

mathsByYear_df.style.format({
    'Yr 9':'{:.2f}',
    'Yr 10': '{:.2f}',
    'Yr 11':'{:.2f}',
    'Yr 12': '{:.2f}'
})

### Reading Scores by Year

Create a DataFrame that lists the average reading score for students of each year level (9, 10, 11, 12) at each school.

## Scores by School Spending

Create a table that breaks down school performance based on average spending ranges (per student). Use your judgment to create four bins with reasonable cutoff values to group school spending. Include the following metrics in the table:

* Average maths score
* Average reading score
* % passing maths (the percentage of students who passed maths)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed maths AND reading)

In [55]:
#bins

bins = [0, 585, 615, 645, 675]
spending_groups = ["Under $585", "$585-$614", "$615-$644", "$645-$675"]

school_summary_df["Budget Per Student"] = pd.cut(school_summary_df["Budget Per Student"], bins, labels=spending_groups)

schools_by_spending = school_summary_df.groupby("Budget Per Student")
schools_by_spending = schools_by_spending.mean()
schools_by_spending = schools_by_spending[["Avg. Maths Score", "Avg. Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
schools_by_spending

TypeError: '<' not supported between instances of 'int' and 'str'

### Scores by School Size

Create a table that breaks down school performance based on school size (small, medium, or large).

In [ ]:
#bins

### Scores by School Type

Create a table that breaks down school performance based on type of school (government or independent).

In [ ]:
#bins